.root
{
	-fx-base: #BDBDBD;
	-fx-background: lightblue;
	-fx-font-size: 12px;
	-fx-font-weight: bold;
	/**#53C1E0;,#D8CEF6;* */

}
.Label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.Button 
{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
}

